
.hero-section_wrapper {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     gap: 5em;
     color: #ffffffe6;
     background-color: #616161;
     height: 300px;
     margin-bottom: 40px;
}

.hero-brand-title {
     margin-bottom: -15px;
     font-size: 32px;
     line-height: 1;
     color: #f3d219;
}

.hero-description-text {
     width: 350px;
     margin-bottom: 35px;
     font-family: sans-serif;
     line-height: 1.2;
     letter-spacing: 1px;
}

.reserve-button {
     background: #f3d219;
     color: #000000;
     border: none;
     border-radius: 0.5rem;
     padding: 10px 20px;
     font-size: 0.8rem;
}

.hero-image {
     margin-top: 50px;
}

.hero-image>img{
     width: 210px;
     height: 300px;
     object-fit: cover;
     border-radius: 0.75rem;
}

@media (max-width: 820px) {
     .hero-section_wrapper {
          width: 100vw;
          padding-bottom: 20px;
     }
     .hero-text {
          margin-left: 20px;
     }
     .hero-image {
          margin-right: 20px;
     }
}

@media (max-width: 475px) {
     .hero-section_wrapper {
          align-items: center;
          flex-direction: column-reverse;
          height: fit-content;
          gap: 0;
     }
     .hero-text {
          text-align: center;
     }
     .hero-image {
          margin-top: 20px;
     }
}