nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

li {
    list-style: none;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

li {
    border-bottom: 1px solid transparent;
}
.web-menu li:hover {
    border-bottom: 1px solid gold;
}

button {
    padding: 5px 20px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    background-color: gold;
    font-size: 1rem;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

@media (max-width: 780px) {
    nav {
        justify-content: space-between;
        margin: 0 20px 0 20px;
    }
    .navbar {
        position: relative;
    }
    .mobile-menu {
        display: inline-block;
    }

    .mobile-menu > ul {
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 5px;
        background-color: rgba(245, 245, 245, 0.95);
        width: 170px;
        height: 300px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .web-menu {
        display: none;
    }
}
