nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.navbar .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .nav-list li:not(:last-child) {
    margin-right: 15px;
    } */
    
    .nav-list li {
     list-style: none;
     color: black;
     text-decoration: none;
     font-family: sans-serif;
     cursor: pointer;
     margin-left: 10px;
}

/* a.active {
    color: gold;
} */

.nav-list button {
    padding: 5px 20px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    background-color: gold;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 650px) {
    nav {
        justify-content: space-between;
    }
    .navbar {
        position: relative;
    }
    .nav-list {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(245, 245, 245, 0.95);
        width: 170px;
        height: 300px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
    }

}