.testimonials-section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    min-height: 350px;
    background: #cccccc;
}

.section-heading {
    margin: 0;
}

.review-cards {
    display: flex;
    gap: 2em;
}

.review-card {
    width: 180px;
    background: whitesmoke;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.rating {
    font-weight: bold;
}

.avatar-and-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-and-name img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.customer-name {
    font-family: sans-serif;
    font-weight: bold;
    color: #4e4e4e;
}

.review-text {
    font-family: sans-serif;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.75px;
    color: #6c6c6c;
}

@media (max-width: 820px) {
    .testimonials-section_wrapper {
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .review-cards {
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem;
    }
    .section-heading {
        margin: 15px;
    }
}

@media (max-width: 670px) {
    .testimonials-section_wrapper {
        margin-top: 40px;
        padding-bottom: 10px;
    }
}