.weeks-specials_wrapper {
    min-height: 500px;
}

.title-and-online_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25em;
}

.online-menu_btn {
    background: #f3d219;
    color: #000000;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    padding: 10px 20px;
}

.menu-cards {
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 5em;
    margin-top: 1rem;
}

.food-item_card {
    width: 200px;
    height: 100%;
    background: #f5f5f5;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.food-item_card > img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.food-title-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.food-item-price {
    color: #ff6a1a;
}

.food-item-desc {
    margin-top: 0;
    padding: 0 10px 0 10px;
    color: #5e5e5e;
    font-family: sans-serif;
    line-height: 1.2;
    letter-spacing: .5px;
}

.action-btn {
    padding: 10px 10px 0 10px;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
}

@media (max-width: 820px) {
    .title-and-online_btn {
        flex-wrap: wrap;
        gap: 3em;
    }
    .menu-cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 780px) {
    .menu-cards {
        gap: 2em;
    }
}

@media (max-width: 490px) {
    .title-and-online_btn {
        flex-direction: column;
        margin-top: 5px;
        gap: 0;
    }
}