

.title-and-online_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.online-menu_btn {
    background: #f3d219;
    color: #000000;
    border: none;
    border-radius: 0.5rem;
    padding: 10px 20px;
    font-size: 0.8rem;
}

.menu-cards {
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 30px;

    margin-top: 1rem;
}

.food-item_card {
    width: 170px;
    background: #f5f5f5;
    border-radius: 0.5rem 0.5rem 0 0;
    padding-bottom: 5px;
}

.food-item_card > img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.food-title-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.food-item-price {
    color: #ff6a1a;
}

.food-item-desc {
    margin-top: 0;
    padding: 0 10px 0 10px;
    color: #5e5e5e;
    font-family: sans-serif;
    line-height: 1.2;
    letter-spacing: .5px;
}

.action-btn {
    padding: 10px 10px 0 10px;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
}
